body{
  font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体','ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
  background-image: url("backgrownd.svg");
  background-size: 700px;
  background-repeat :repeat;
  background-attachment: fixed;
}

.title{
  display: inline-block;
  padding: 0pt;
  padding-bottom: 40pt;
  margin: 0pt;
  font-size: 60px;
  font-weight: bold;
  margin-left: 10px;
  background: linear-gradient(to right,#e60000,#f39800,#fff100,#009944,#0068b7,#1d2088,#920783);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

@media (max-width: 410px){
  .title{
    font-size:50px;
  }
}

@media (max-width: 345px){
  .title{
    font-size:40px;
  }
}

.subtitle_right{
  text-align: right;
  background: linear-gradient(to right,#e60000,#f39800,#fff100,#009944,#0068b7,#1d2088,#920783);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.subtitle{
  display: inline-block;
  padding: 0pt;
  margin: 0pt;
  font-family: 'Kokoro','Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',sans-serif;
  font-size: 30pt;
  background: linear-gradient(to right,#e60000,#f39800,#fff100,#009944,#0068b7,#1d2088,#920783);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

@media (max-width: 400px){
  .subtitle{
    font-size: 25px;
  }
}

.minititle{
  font-family: 'YuGothic','Yu Gothic', sans-serif;
  font-size: 20px;
  background: linear-gradient(to right,#e60000,#f39800,#fff100,#009944,#0068b7,#1d2088,#920783);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.linkbutton{
  display: inline-block;
  color: #FFFFFF;
  background: linear-gradient(to right,#de4141,#e8ac51,#f2e55c,#39a869,#4784bf,#5d5099,#a55b9a);
  border-radius: 15px;
  margin-right: 20px;
  padding: 7px;
  text-decoration: none;
  font-family: "M PLUS Rounded 1c",'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
}

.linkbutton:hover{
  background:linear-gradient(to right,#c70000,#d28300,#dfd000,#00873c,#005aa0,#181878,#800073);
}

.linkbutton_nomal{
  display: inline-block;
  color: #FFFFFF;
  background-color: #73a456;
  border-radius: 15px;
  margin-right: 20px;
  padding: 7px;
  text-decoration: none;
  font-family: "M PLUS Rounded 1c",'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
}

.linkbutton_nomal:hover{
  background-color: #62824f;
}

.box_div{
  background: linear-gradient(to right,#f59090,#fcd7a1,#fff9b1,#a5d4ad,#a3bce2,#a59aca,#cfa7cd);
  border-radius: 5px;
}

.box{
  padding: 8px;
  background: linear-gradient(to right,#c70000,#d28300,#dfd000,#00873c,#005aa0,#181878,#800073);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.nomalbox_div{
  background-color: rgba(255,100,100,0.3);
  border-radius: 5px;
}

.nomalbox{
  color: black;
}

.bold{
  font-weight: bold;
}

.microtitle{
  font-size: 20px;
  display: inline-block;
  background: linear-gradient(to right,#e60000,#f39800,#fff100,#009944,#0068b7,#1d2088,#920783);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-family: 'klee',sans-serif;
  font-weight: bold;
  padding-left: 10px;
}

.microtitle1{
  font-size: 20px;
  display: inline-block;
  background: linear-gradient(to right,#e60000,#f39800,#fff100,#009944,#0068b7,#1d2088,#920783);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-family: 'klee',sans-serif;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 20px;
}

.microtitle2{
  font-size: 20px;
  display: inline-block;
  background: linear-gradient(to right,#e60000,#f39800,#fff100,#009944,#0068b7,#1d2088,#920783);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-family: 'klee',sans-serif;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 40px;
}

.microword{
  font-size: 20px;
  display: inline-block;
  font-family: 'klee',sans-serif;  
  background: linear-gradient(to right,#e60000,#f39800,#fff100,#009944,#0068b7,#1d2088,#920783);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  padding-left: 20px;
}

.table{
  width: 50%;
}
@media (max-width: 930px){
  .table{
    width: 100%;
  }
}

.line_T{
  border-style: solid none none none;
  border-width: 1px;
  border-image: conic-gradient(#e60000,#f39800,#fff100,#009944,#0068b7,#1d2088,#920783) 1;
}

.line_TB{
  border-style: solid none;
  border-width: 1px;
  border-image: conic-gradient(#e60000,#f39800,#fff100,#009944,#0068b7,#1d2088,#920783) 1;
}