body{
  font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',sans-serif;
  background-image: url("C:/Users/sigma/Desktop/atom-windows/otherimage/backgrownd.svg");
  background-size: 700px;
  background-repeat :repeat;
  background-attachment: fixed;
}

.headder{

}

.title{
  display: inline-block;
  padding: 0pt;
  padding-bottom: 40pt;
  margin: 0pt;
  font-size: 50pt;
  font-weight: bold;
  margin-left: 10px;
}

.subtitle_right{
  text-align: right;
}

.subtitle{
  display: inline-block;
  padding: 0pt;
  margin: 0pt;
  font-family: 'Kokoro','Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',sans-serif;
  font-size: 40pt;
}

.minititle{
  font-family: 'YuGothic','Yu Gothic', sans-serif;
  font-size: 20px;
}

.nomaltext{

}

.linkbutton{
  display: inline-block;
  color: #FFFFFF;
  background-color: #73a456;
  border-radius: 15px;
  margin-right: 20px;
  padding: 7px;
  text-decoration: none;
  font-family: "M PLUS Rounded 1c",'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
}
.linkbutton:hover{
  background-color: #62824f;
}

.box_left{
  padding-top: 1px;
  margin-top: 5px;
  background-color: #c1daeb;
  width: 49%;
}
