@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap&text=Doyuwantbeh"ri?TOPABURCHIVESM天文・科学部をわかりやすく校公式ホームペジ(附属中)芸大活のそ２普段動では、花火に使れる炎色反応炭酸水など身近潜んい理つて実験行っま。た発表会「ピタゴラスイッチ」プネリウ作展示し203年度加えハ巣と植物標本も場所第一教室顧問副長先生日月木金曜費￥０！内容向け準備犯罪防止め構図掲載おせ：東経19.4°北緯57アン記ほぼ正確が最m程誤差含みcpg©k-概要あ前ら伝統マコトキャク謎盛塩何祥私ち員常頃続現在個飽和砂糖ブルワ名幽霊匹昆虫草食性人間王代飲む写真撮影時だぜ増今夏メ輪カ割ェレボ入多種様顕微鏡紹介よう以外制貢献非貴重資材録NW!待映像パ規模少小さ昨同じぐ賑～格的へ始各々自分試錯頑張予定暖環境ロ用こ高情報得際結果噴出成功6後半無事切きべ明引業サポ見可能Ks期建築勢者面白独特滋賀周波数屋根#F家探脱却乾球湿ぞ%ヌ誕過ぎ崩壊法称彼女（当）シヴィ島目⸺説ケモ珍号打上げ精製円率桁主ノフオ酢ナ최진규칠십백두산출신이애요vjdYlf,');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@800&display=swap&text=天文・科学部について今までの活動記録サポートイ員');

html{
  scroll-behavior: smooth;
}

body{
  background-image: url("../images/backgrownd.svg");
  background-size: 700px;
  background-repeat :repeat;
  background-attachment: fixed;
  margin: 0%;
}

@keyframes absbtn{
  100% { background-position: 200%; }
}
.absbtn{
  background: linear-gradient(90deg,#c70000,#d28300,#dfd000,#00873c,#005aa0,#181878,#800073,#c70000) 0 / 200%;
  text-decoration: none;
  animation: 16s absbtn linear infinite;
  color: #FFF;
  border-radius: 10px;
}
.absbtn:hover{
  background: linear-gradient(90deg,#de4141,#e8ac51,#f2e55c,#39a869,#4784bf,#5d5099,#a55b9a,#de4141) 0 / 200%;
}





/* title */
h1{
  font-weight: bold;
}

.subtitle{
  font-family: 'Noto Serif JP','Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',sans-serif;
}

.subtitle_right{
  text-align: right;
  margin-left: 1vw;
}

.minititle{
  font-family: 'Noto Serif JP','YuGothic','Yu Gothic',sans-serif;
  font-size: 20px;
  margin-left: 1vw;
}

.microtitle{
  color: #197dc3;
  font-weight: bold;
}

.membertitle{
  margin: 0px;
  padding: 5px;
  padding-bottom: 0px;
  font-size: 24px;
}

.boxtitle{
  font-size: 24px;
  padding: 8px;
  padding-bottom: 0px;
  margin: 0px;
}
/* title - end */





/* text */
ul{
  margin: 0px;
  padding: 0px;
}

li>a{
  text-decoration: none;
  color: #d31;
}

.items{
  border-left: #000 solid 1px;
  border-right: #000 solid 1px;
}

.right{
  text-align: right;
}

.membertxt{
  margin: 0px;
  padding: 5px;
  padding-top: 0px;
  font-size: 18px;
}

.section{
  font-size: 30px;
  text-align: center;
  overflow-x: hidden;
  white-space: nowrap;
}

.ovmt{
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.ovmt::-webkit-scrollbar{
  display: none;
}

.nw{
  white-space: nowrap;
}

.footertxt{
  width: 100%;
  margin: 0px;
}

.rainbowtxt{
  background:linear-gradient(60deg, #F00, #F80, #FF0, #3AA, #00F, #73F);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* text - end */





/* header or footer */
footer{
  width: 100%;
  height: 148px;
  background-color: #ad9;
}
/* header or footer - end */





/* box or border */

.bx-blue{
  background-color: rgba(109,150,156,0.3);
}
.bx-red{
  background-color: rgba(255, 40, 40, 0.3);
}
.bx-green{
  background-color: rgba(0, 178, 64, 0.3);
}
.box_div{
  border-radius: 5px;
  margin: 15px 1vw;
}

.table{
  width: calc(100% - 2vw);
  margin: 0vw 1vw;
}

.line_T{
  display: flex;
  border-style: dashed none none none;
  border-width: 1px;
  border-color: #1a63aa;
}

.line_TB{
  display: flex;
  border-style: dashed none;
  border-width: 1px;
  border-color: #1a63aa;
}

.edgebox{
  width: 97%;
  margin: 10px 1.5%;
}

.st{
  background-color: rgba(255, 0, 0, 0.3);
}
.nd{
  background-color: rgba(63, 191, 0, 0.3);
}
.rd{
  background-color: rgba(0, 63, 191, 0.3);
}
.ghost{
  background-color: rgba(63, 63, 63, 0.3);
}
.sp{
  background: linear-gradient(20deg, rgba(255, 0, 0, 0.3), rgba(63, 191, 0, 0.3), rgba(0, 63, 191, 0.3));
}
.bk{
  background-color: #000;
  color: #FFF;
}
/* box or border - end */





/* link or button */
.linkbutton{
  text-decoration: none;
  font-family: sans-serif;
  color: #fff;
  background-color: #62824f;
  border-radius: 15px;
}
.linkbutton:hover{
  background-color: #4a613d;
}
/* link or button - end */





/* media */
  /* header */
  @media (max-width: 750px) {
    #infobutton{
      display: flex;
    }
    ul{
      color: #000;
    }
    .big{
      height: 170px;
    }
  }
  @media (max-width: 550px) {
    .big{
      height: 250px;
    }
  }
  @media (max-width: 309px) {
    .big{
      height: 320px;
    }
  }
  @media (max-width: 246px) {
    .big{
      height: 400px;
    }
  }
  /* header - end */





  /* footer */
  @media (max-width: 438px) {
    footer{
      height: 178px;
    }
  }
  @media (max-width: 366px) {
    footer{
      height: 198px;
    }
  }
  @media (max-width: 319px) {
    footer{
      height: 226px;
    }
  }
  @media (max-width: 240px) {
    footer{
      height: 252px;
    }
  }
  /* footer */





  /* table overflow */
  @media (max-width: 396px){
    .table{
      overflow-x: scroll;
    }
    .line_T{
      width: 380px;
    }
    .line_TB{
      width: 380px;
    }
  }
  /* table overflow - end */
/* media - end */





/* モバイル S/M/L ~425px  */
@media (max-width: 425px){
  body{
    background-size: 400px;
  }
  .T-top{
    font-size: calc(250px / 6);
  }
  .T-about{
    font-size: calc(250px / 10);
  }
  .T-archive_support{
    font-size: calc(250px / 8);
  }
  .T-member{
    font-size: calc(250px / 9);
  }
  .subtitle{
    font-size: 28px;
  }
}




/* 4K 2560px */

@media (min-width: 2560px) {
  body{
    background-size: 1200px;
  }

  .box{
    font-size: 26px;
  }

  .microtitle{
    font-size: 45px;
    width: 180px;
  }

  .microword{
    font-size: 45px;
    padding-left: 45px;
  }
}