@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap');

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体','ヒラギノ明朝 ProN','Hiragino Mincho ProN','Noto Serif JP',sans-serif;
  background-image: url("background.svg");
  background-size: 700px;
  background-repeat :repeat;
  background-attachment: fixed;
  margin: 0%;
}

.hide{
  display: inline-block;
}

.items{
  display: inline-block;
  height: 24px;
  margin: 8px 0px;
  padding: 20px 20px;
  text-decoration: none;
  border-left: #000 solid 1px;
  border-right: #000 solid 1px;
}

header>nav>img{
  display: inline-block;
  height: 60px;
  margin: 10px 20px;
}

.headmargin{
  height: 74px;
  width: 100%;
}





/* title */
.title{
  display: inline-block;
  margin: 0px;
  font-weight: bold;
  margin-left: calc(1vw + 10px);
  margin-top: 74px;
  margin-bottom: 40px;
  vertical-align: middle;
}

.T-top{
  font-size: calc(360px / 6);
  padding: 11.5px 0px;
}

.T-about{
  font-size: calc(360px / 10);
  padding: 31px 0px;
}

.T-member{
  font-size: calc(360px / 9);
  padding: 27.5px 0px;
}

.subtitle{
  display: inline-block;
  padding: 0pt;
  margin: 0vw 1vw 0vw 0vw;
  font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体','Noto Serif JP',sans-serif;
  font-size: 30pt;
}

.subtitle_right{
  text-align: right;
  margin-left: 1vw;
}

.minititle{
  font-family: 'YuGothic','Yu Gothic','Noto Serif JP',sans-serif;
  font-size: 20px;
  margin-left: 1vw;
}

.microtitle{
  font-size: 20px;
  display: inline-block;
  color: #197dc3;
  font-family: sans-serif;
  font-weight: bold;
  width: 80px;
}

.membertitle{
  margin: 0px;
  padding: 5px;
  padding-bottom: 0px;
  font-size: 24px;
}
/* title - end */





/* text */
ul{
  margin: 0px;
  padding: 0px;
}

li>a{
  text-decoration: none;
  color: #d31;
}

.microword{
  font-size: 20px;
  display: inline-block;
  padding-left: 20px;
}

.right{
  text-align: right;
}

.membertxt{
  margin: 0px;
  padding: 5px;
  padding-top: 0px;
  font-size: 18px;
}

.section{
  font-size: 30px;
  text-align: center;
  overflow-x: hidden;
  white-space: nowrap;
}

.ovmt{
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.ovmt::-webkit-scrollbar{
  display: none;
}

.nw{
  white-space: nowrap;
}

.footertxt{
  width: 100%;
  margin: 0px;
}

.rainbowtxt{
  background:linear-gradient(20deg, #F00, #F80, #FF0, #3AA, #00F, #73F);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* text - end */





/* header or footer */
header{
  display: flex;
  background-color: #ccc;
  width: 100vw;
  position: fixed;
  align-items: center;
  height: 80px;
  z-index: 1;
}

nav{
  margin-left: 10px;
  height: 80px;
}

footer{
  width: 100%;
  height: 148px;
  background-color: #ad9;
}
/* header or footer - end */





/* box or border */
.box_div{
  background-color: rgba(109,150,156,0.3);
  border-radius: 5px;
  margin: 0vw 1vw;
}

.box{
  padding: 8px;
}

.table{
  width: calc(100% - 4vw);
  height: 100%;
  margin: 0vw 1vw;
}

.line_T{
  display: flex;
  border-style: dashed none none none;
  border-width: 1px;
  border-color: #1a63aa;
}

.line_TB{
  display: flex;
  border-style: dashed none;
  border-width: 1px;
  border-color: #1a63aa;
}

.edgebox{
  width: 97%;
  margin: 10px 1.5%;
}

.st{
  background-color: rgba(255, 0, 0, 0.3);
}
.nd{
  background-color: rgba(63, 191, 0, 0.3);
}
.rd{
  background-color: rgba(0, 63, 191, 0.3);
}
.ghost{
  background-color: rgba(63, 63, 63, 0.3);
}
.sp{
  background: linear-gradient(20deg, rgba(255, 0, 0, 0.3), rgba(63, 191, 0, 0.3), rgba(0, 63, 191, 0.3));
}
.bk{
  background-color: #000;
  color: #FFF;
}
/* box or border - end */





/* link or button */
.linkbutton{
  display: inline-block;
  color: #FFFFFF;
  background-color: #73a456;
  border-radius: 15px;
  margin-left: 1vw;
  padding: 7px;
  text-decoration: none;
  font-family: sans-serif;
  }

.linkbutton:hover{
  background-color: #62824f;
}

.rainbow_linkbutton{
  display: inline-block;
  color: #FFFFFF;
  background: linear-gradient(to right,#de4141,#e8ac51,#f2e55c,#39a869,#4784bf,#5d5099,#a55b9a);
  border-radius: 15px;
  margin-left: 1vw;
  padding: 7px;
  text-decoration: none;
  font-family: sans-serif;
  }

.rainbow_linkbutton:hover{
  background:linear-gradient(to right,#c70000,#d28300,#dfd000,#00873c,#005aa0,#181878,#800073);
}

#infobutton{
  display: none;
  height: 40px;
  margin: 20px 0px;
  padding: 0px 20px;
}

#infobutton_out{
  position: fixed;
  width: 40px;
  margin: 20px;
}
/* link or button - end */





/* media */
  /* header */
  @media (max-width: 792px) {
    #infobutton{
      display: flex;
    }
    ul{
      color: #000;
    }
    .hidden{
      display: none;
    }
    .big{
      height: 170px;
    }
  }
  @media (max-width: 550px) {
    .big{
      height: 250px;
    }
  }
  @media (max-width: 309px) {
    .big{
      height: 320px;
    }
  }
  @media (max-width: 246px) {
    .big{
      height: 400px;
    }
  }
  /* header - end */





  /* footer */
  @media (max-width: 438px) {
    footer{
      height: 178px;
    }
  }
  @media (max-width: 366px) {
    footer{
      height: 198px;
    }
  }
  @media (max-width: 319px) {
    footer{
      height: 226px;
    }
  }
  @media (max-width: 240px) {
    footer{
      height: 252px;
    }
  }
  /* footer */





  /* table overflow */
  @media (max-width: 396px){
    .table{
      overflow-x: scroll;
    }
    .line_T{
      width: 380px;
    }
    .line_TB{
      width: 380px;
    }
  }
  /* table overflow - end */
/* media - end */





/* モバイル S/M/L ~425px  */
@media (max-width: 425px){
  body{
    background-size: 400px;
  }

}





/* ノートPC 1024px */

@media (min-width: 1024px) and (max-width: 2559px){
  .box{
    font-size: 20px;
  }

  .linkbutton{
    font-size: 18px;
  }

  .rainbow_linkbutton{
    font-size: 18px;
  }

  .microtitle{
    font-size: 26px;
    width: 108px;
  }

  .microword{
    font-size: 26px;
    padding-left: 26px;
  }
}





/* 4K 2560px */

@media (min-width: 2560px) {
  body{
    background-size: 1200px;
  }

  .subtitle{
    font-size: 108px;
  }

  .box{
    font-size: 42px;
  }

  .linkbutton{
    font-size: 36px;
    padding: 20px;
    border-radius: 24px;
  }

  .rainbow_linkbutton{
    font-size: 36px;
    padding: 20px;
    border-radius: 24px;
  }

  .microtitle{
    font-size: 45px;
    width: 180px;
  }

  .microword{
    font-size: 45px;
    padding-left: 45px;
  }
}